body{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(214, 215, 218);
    padding: 20px 40px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* INICIAN los estilos de la COLUMNA 1 */

.columna1{
    width: 20%;
    padding: 30px 45px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(255, 255, 255);
}

.columna2{
    width: 80%;
    padding: 30px 45px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(246, 246, 248);
}

.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
}

.cabecera img{
    width: 17px;
    height: 17px;
}

.cabecera .enlaces a{
    margin-right: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding-bottom: 4px;
    border-radius: 1px;
    border-bottom: 2px solid rgb(102, 102, 102);
}

.cabecera .datos a{
    font-size: 20px;
    color: white;
    border-radius: 100px;
    background-color: rgb(0, 0, 0);
    padding: 9px;
    margin-left: 5px;
    text-decoration: none;
}

input[type="text"]{
    border: 0;
    height: 22px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
}

input[type="submit"]{
    border: 0;
    border-radius: 7px;
    height: 28px;
    padding: 3px 5px;
    background-color: rgb(246, 246, 248);
}

input[type="submit"]:hover{
    background-color: rgb(255, 255, 255);
}

.grados p{
    font-size: 90px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.datos img{
    width: 30px;
    height: 30px;
}

.clima_hoy h2{
    margin: 50px 0px;
}

.clima_hoy p{
    margin: 20px 0px;
}

.clima_hoy img{
    /* margin-top: 20px; */
    width: 100%;
}

/* FINALIZAN los estilos de la COLUMNA 1 */

/* INICIAN los estilos de la COLUMNA 2 */

.dias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: green; */
}

.dia{
    width: 140px;
    border-radius: 10px;
    margin: 35px 5px 5px 5px;
    padding: 3px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.dia img{
    width: 90%;
    height: 90px;
}

.detalle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detalle img{
    margin: 0px 5px;
}

.temperaturas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.destacado h2{
    margin: 50px 0px 30px 0px;
}

.informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.informacion h3{
    color: rgb(198, 198, 199);
}

.informacion_destacada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

/* FINALIZAN los estilos de la COLUMNA 2 */